In [1]:
import sys
import os
os.getcwd()

'/Users/jeongseok/Documents/GitHub/AnalysisProject/Public Data/서울시인구데이터'

In [2]:
# Load Data
import pandas as pd
from datetime import datetime

# Path
s_path = '/Users/jeongseok/Documents/데이터/서울시생활인구데이터'
m_path = '/Users/jeongseok/Documents/데이터/서울시생활인구데이터'

# Loading
seoul = pd.read_csv(f'{s_path}/서울시 생활인구데이터.csv',index_col=0)
mapping = pd.read_csv(f'{m_path}/행정동 코드 매핑 테이블.csv',index_col=0)

In [3]:
# (seoul data)Delete Table Col Error 
seoul = seoul.reset_index()
col_lst = list(seoul.columns)[1:]
col_lst.append('삭제')
seoul.columns = col_lst
new_lst = list(seoul.columns)[:-1]
seoul = seoul[new_lst]

In [4]:
# Transform data type 
seoul[['기준일ID', '행정동코드']] = seoul[['기준일ID', '행정동코드']].astype(str)
seoul['기준일ID'] = seoul['기준일ID'].apply(lambda x: datetime.strptime(x,'%Y%m%d'))

In [5]:
seoul

,기준일ID,시간대구분,행정동코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수
0,2022-03-01,0,11110515,15101.8130,511.2472,325.7679,505.3072,507.6178,520.0308,493.9273,...,499.8636,479.7043,643.1364,638.5551,865.5965,606.2832,681.1931,444.1517,387.0265,1280.4948
1,2022-03-01,0,11110530,12195.7307,284.5014,126.4451,259.7415,297.2100,455.7275,449.2888,...,431.2112,490.8434,690.7267,541.1849,653.2549,419.8003,562.0689,407.3969,306.6941,1004.3226
2,2022-03-01,0,11110540,3495.7127,51.4900,39.4535,106.9704,381.7711,134.6984,118.2693,...,90.2766,106.8951,180.4886,144.3480,133.2256,109.1643,133.5970,143.9271,118.7194,258.0883
3,2022-03-01,0,11110550,15542.6773,442.4892,343.0999,483.2226,504.8217,412.9462,360.9343,...,469.8248,359.9316,660.5094,617.3567,886.8489,647.9091,736.5220,637.9584,448.3079,1399.6956
4,2022-03-01,0,11110560,18662.1008,626.5593,453.2105,450.7413,536.1151,505.1438,420.4032,...,461.7484,539.9229,721.6726,665.4621,931.6643,787.8583,985.4457,780.3186,626.2935,1585.6382
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315451,2022-03-31,23,11290580,15361.8384,435.8650,300.0112,378.1272,367.8582,417.1304,448.9891,...,436.8155,518.1373,643.0362,499.1548,755.4607,604.3126,701.6631,587.8110,524.0335,1411.5240
315452,2022-03-31,23,11650581,34273.6212,1865.9757,1063.0400,1060.3494,699.9121,696.3969,707.0106,...,960.0594,1087.4300,1606.0124,1885.0682,1764.4543,1251.1912,1123.6130,1026.8410,839.7535,2107.5990
315453,2022-03-31,23,11140615,27071.3324,145.0207,105.6741,259.5755,1103.9958,1443.6130,1796.6150,...,1421.2875,1518.0593,1626.5553,1321.9242,1325.6256,1037.6726,1104.9666,871.7023,544.1694,1093.4134
315454,2022-03-31,23,11710647,47525.9965,5264.9228,1746.5850,1139.6673,769.0449,872.0523,1185.9769,...,1063.2021,1677.2687,3045.0256,2705.6788,2075.6536,1508.3174,1407.3951,1055.0398,849.8475,1436.5026
315455,2022-03-31,23,11530595,11223.5626,98.3772,50.6495,81.2044,297.2024,714.7621,748.6214,...,652.9150,468.3846,446.5334,396.9653,331.1133,401.3585,414.0770,330.7264,235.1979,511.7139

In [10]:
seoul['행정동코드']

0         11110515
1         11110530
2         11110540
3         11110550
4         11110560
            ...
315451    11290580
315452    11650581
315453    11140615
315454    11710647
315455    11530595
Name: 행정동코드, Length: 315456, dtype: object

In [9]:
mapping['hdongCode']

0       1100000000
1       1111000000
2       1111051000
3       1111051500
4       1111052000
           ...
8488    5013058000
8489    5013059000
8490    5013060000
8491    5013061000
8492    5013062000
Name: hdongCode, Length: 8493, dtype: int64