In [27]:
import sys
import os
import datetime
os.getcwd()

'/Users/jeongseok/Documents/GitHub/AnalysisProject/Public Data/서울시인구데이터'

In [2]:
os.listdir()

['.DS_Store', '.ipynb_checkpoints', '생활인구데이터 전처리.ipynb']

In [3]:
# Load Data
import pandas as pd

seoul = pd.read_csv('/Users/jeongseok/Documents/데이터/서울시생활인구데이터/서울시 생활인구데이터.csv',index_col=0)
mapping = pd.read_csv('/Users/jeongseok/Documents/데이터/서울시생활인구데이터/행정동 코드 매핑 테이블.csv',index_col=0)

In [4]:
# (seoul data)Delete Table Col Error 
seoul = seoul.reset_index()
col_lst = list(seoul.columns)[1:]
col_lst.append('삭제')
seoul.columns = col_lst
new_lst = list(seoul.columns)[:-1]
seoul = seoul[new_lst]

In [24]:
seoul

,기준일ID,시간대구분,행정동코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수
0,20220301,0,11110515,15101.8130,511.2472,325.7679,505.3072,507.6178,520.0308,493.9273,...,499.8636,479.7043,643.1364,638.5551,865.5965,606.2832,681.1931,444.1517,387.0265,1280.4948
1,20220301,0,11110530,12195.7307,284.5014,126.4451,259.7415,297.2100,455.7275,449.2888,...,431.2112,490.8434,690.7267,541.1849,653.2549,419.8003,562.0689,407.3969,306.6941,1004.3226
2,20220301,0,11110540,3495.7127,51.4900,39.4535,106.9704,381.7711,134.6984,118.2693,...,90.2766,106.8951,180.4886,144.3480,133.2256,109.1643,133.5970,143.9271,118.7194,258.0883
3,20220301,0,11110550,15542.6773,442.4892,343.0999,483.2226,504.8217,412.9462,360.9343,...,469.8248,359.9316,660.5094,617.3567,886.8489,647.9091,736.5220,637.9584,448.3079,1399.6956
4,20220301,0,11110560,18662.1008,626.5593,453.2105,450.7413,536.1151,505.1438,420.4032,...,461.7484,539.9229,721.6726,665.4621,931.6643,787.8583,985.4457,780.3186,626.2935,1585.6382
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315451,20220331,23,11290580,15361.8384,435.8650,300.0112,378.1272,367.8582,417.1304,448.9891,...,436.8155,518.1373,643.0362,499.1548,755.4607,604.3126,701.6631,587.8110,524.0335,1411.5240
315452,20220331,23,11650581,34273.6212,1865.9757,1063.0400,1060.3494,699.9121,696.3969,707.0106,...,960.0594,1087.4300,1606.0124,1885.0682,1764.4543,1251.1912,1123.6130,1026.8410,839.7535,2107.5990
315453,20220331,23,11140615,27071.3324,145.0207,105.6741,259.5755,1103.9958,1443.6130,1796.6150,...,1421.2875,1518.0593,1626.5553,1321.9242,1325.6256,1037.6726,1104.9666,871.7023,544.1694,1093.4134
315454,20220331,23,11710647,47525.9965,5264.9228,1746.5850,1139.6673,769.0449,872.0523,1185.9769,...,1063.2021,1677.2687,3045.0256,2705.6788,2075.6536,1508.3174,1407.3951,1055.0398,849.8475,1436.5026
315455,20220331,23,11530595,11223.5626,98.3772,50.6495,81.2044,297.2024,714.7621,748.6214,...,652.9150,468.3846,446.5334,396.9653,331.1133,401.3585,414.0770,330.7264,235.1979,511.7139

In [30]:
seoul.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 315456 entries, 0 to 315455
Data columns (total 32 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   기준일ID            315456 non-null  int64
 1   시간대구분            315456 non-null  int64
 2   행정동코드            315456 non-null  int64
 3   총생활인구수           315456 non-null  float64
 4   남자0세부터9세생활인구수    315456 non-null  float64
 5   남자10세부터14세생활인구수  315456 non-null  float64
 6   남자15세부터19세생활인구수  315456 non-null  float64
 7   남자20세부터24세생활인구수  315456 non-null  float64
 8   남자25세부터29세생활인구수  315456 non-null  float64
 9   남자30세부터34세생활인구수  315456 non-null  float64
 10  남자35세부터39세생활인구수  315456 non-null  float64
 11  남자40세부터44세생활인구수  315456 non-null  float64
 12  남자45세부터49세생활인구수  315456 non-null  float64
 13  남자50세부터54세생활인구수  315456 non-null  float64
 14  남자55세부터59세생활인구수  315456 non-null  float64
 15  남자60세부터64세생활인구수  315456 non-null  float64
 16  남자65세부터69세생활인구수  315456 non-null  float64
 17  남자70세이상생활인구수     315456 non-null  float64
 18  여자0세부터9세생활인구수    315456 non-null  float64
 19  여자10세부터14세생활인구수  315456 non-null  float64
 20  여자15세부터19세생활인구수  315456 non-null  float64
 21  여자20세부터24세생활인구수  315456 non-null  float64
 22  여자25세부터29세생활인구수  315456 non-null  float64
 23  여자30세부터34세생활인구수  315456 non-null  float64
 24  여자35세부터39세생활인구수  315456 non-null  float64
 25  여자40세부터44세생활인구수  315456 non-null  float64
 26  여자45세부터49세생활인구수  315456 non-null  float64
 27  여자50세부터54세생활인구수  315456 non-null  float64
 28  여자55세부터59세생활인구수  315456 non-null  float64
 29  여자60세부터64세생활인구수  315456 non-null  float64
 30  여자65세부터69세생활인구수  315456 non-null  float64
 31  여자70세이상생활인구수     315456 non-null  float64
dtypes: float64(29), int64(3)
memory usage: 77.0 MB

In [38]:
seoul['기준일ID'].astype('str').strptime()

AttributeError: 'StringMethods' object has no attribute 'datetime'